<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>GeoPedia</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <!-- HEADER -->
  <header class="header">
    <div class="menu">&#9776;</div>
    <div class="logo">GeoPedia</div>
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button>🔍</button>
    </div>
    <div class="profile">👤</div>
  </header>

  <!-- HERO -->
  <section class="hero">
    <div class="hero-text">
      <h1 class="highlight-box">Taste the World, One Bite at a Time</h1>
      <p>Embark on a an unforgettable culinary journey across continents, where every dish tells a story and every flavor  reveals a piece of the world.  Join us as we explore cultures through the universal language of food.</p>
      <div class="buttons">
        <button class="btn-primary">Join Now</button>
        <button class="btn-secondary">Log In</button>
      </div>
    </div>
    <div class="hero-images">
      <img src="makanan1.jpeg" class="food1" alt="food1" />
      <img src="makanan2.jpg" class="food2" alt="food2" />
    </div>
  </section>

  <!-- ABOUT -->
  <section class="about">
    <h4>LEARN MORE</h4>
    <h2>About Us</h2>
    <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat lorem sit amet sapien sagittis dignissim. Suspendisse potenti. Proin nunc turpis, suscipit sed elit a, pellentesque gravida ante. Quisque convallis, dolor et viverra posuere, felis nisl pulvinar dui, vel venenatis leo quam eu nisi. Mauris mattis nec nunc ut mollis. Donec neque arcu, gravida ac cursus vitae, vulputate bibendum mi. Aliquam rhoncus tincidunt est, a molestie quam fringilla vel. Proin ultricies dolor sit amet elit porta, at aliquet tortor pulvinar. Cras non blandit massa.</p>
    
  </section>
  

  <!-- FOOTER -->
  <footer>
    <div class="bottom-images">
      
    </div>
    <p class="footer-text">© GeoPedia</p>
  </footer>
</body>
</html>
